{% extends "base.html" %}

{% block form %}
  <div class="content-section">

        <form method="post" action="">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3">Register Today</legend>
                <div class="form-group">
                    {{form.username.label(class="form-control-label")}}

                    {% if form.username.errors%}
                        {{form.username(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.username.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.username(class="form-control")}}
                    {%endif%}
                </div>

                <div class="form-group">
                    {{form.password.label(class="form-control-label")}}

                    {% if form.password.errors%}
                        {{form.password(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.username.errors%}
                            <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.password(class="form-control")}}
                    {%endif%}
                </div>
                <div class="form-check">
                    {{form.rememberme(class="form-check-input mb-2")}}
                    {{form.rememberme.label(class="form-check-label mb-2")}}
                </div>

                <div class="form-group">
                    {{form.submit(class="btn btn-outline-info")}}
                </div>



            </fieldset>


        </form>

    </div>
    <div class="border-top mt-3">
        <small class="text-muted">
            Don't have an Account?<span class="px-2"><a href="{{url_for('register')}}">Register Here</a></span>
        </small>


    </div>



{% endblock%}