{% extends "base.html" %}

{% block form %}
  <div class="content-section">
        {{form.hidden_tag()}}
        <form method="post" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-3">Register Today</legend>
                <div class="form-group">
                    {{form.username.label(class="form-control-label")}}
                    {{form.username(class="form-control")}}
                </div>

                <div class="form-group">
                    {{form.password.label(class="form-control-label")}}
                    {{form.password(class="form-control")}}
                </div>

                <div class="form-group">
                    {{form.submit(class="btn btn-outline-info")}}
                </div>



            </fieldset>


        </form>

    </div>
    <div class="border-top mt-3">
        <small class="text-muted">
            Don't have an Account?<span class="px-2"><a href="{{url_for('register')}}">Register Here</a></span>
        </small>


    </div>



{% endblock%}